<div id="<%= dom_id expenditure %>">

<div class="expense-display">
  <span class="expense-name"><%= expenditure.name %></span>
  <span class="expense-amount"><%= number_to_currency(expenditure.amount) %></span> 
</div>
</div>
